<header class="App-header">
  <nav class="headerContainer">
    <div class="brand">
      <a href="/"><span>Wintertons.us</span></a>
    </div>
    <div class="menu">
      <ul class="items">
        <li class="item"><a routerLink="/" routerLinkActive="activeButton">Home</a></li>
        <li class="item"><a routerLink="/nav/Elijah" routerLinkActive="activeButton">Elijah</a></li>
        <li class="item"><a routerLink="/nav/Katie" routerLinkActive="activeButton">Katie</a></li>
        <li class="item"><a routerLink="/nav/Kalob" routerLinkActive="activeButton">Kalob</a></li>
        <li class="item"><a routerLink="/nav/Sam" routerLinkActive="activeButton">Sam</a></li>
        <li class="item"><a routerLink="/nav/Ben" routerLinkActive="activeButton">Ben</a></li>
      </ul>
    </div>
  </nav>
</header>
