<header class="App-header">
  <nav class="headerContainer">
    <div class="brand">
      <a href="/"><span>Wintertons.us</span></a>
    </div>
    <div class="menu">
      <ul class="items">
        <li class="item"><a [routerLink]="['Main']" routerLinkActive="activeButton">Home</a></li>
        <li class="item"><a [routerLink]="['Elijah']" routerLinkActive="activeButton">Elijah</a></li>
        <li class="item"><a [routerLink]="['Katie']" routerLinkActive="activeButton">Katie</a></li>
        <li class="item"><a [routerLink]="['Kalob']" routerLinkActive="activeButton">Kalob</a></li>
        <li class="item"><a [routerLink]="['Sam']" routerLinkActive="activeButton">Sam</a></li>
        <li class="item"><a [routerLink]="['Ben']" routerLinkActive="activeButton">Ben</a></li>
      </ul>
    </div>
  </nav>
</header>
